<%= link_to 'Back', skills_path %>

<h1><%= @skill.name %></h1>

<% if defined?(@project.skills) %>
  <% @project.skills.each do |skill| %>
    <h3>Skill: <%= link_to skill.name, skill_path(skill.id) if skill.id %></h3>
    <li><%= link_to skill.project.title, skill_projects_path(project.skill) %></li>
  <% end %>
<% else %>
  <h3>No Projects</h3>
<% end %>


