<%= link_to 'Back', skills_path %>

<h1><%= @skill.name %></h1>

<h3>Projects:</h3>
<% @skills.each do |skill| %>
  <p><%= link_to skill.project.title, project_skills_path(skill.project) %></p>
<% end %>

