
<h1><%= @section.title %></h1>

<%= link_to "edit", edit_section_path(@section) %>
<%= button_to "Delete Section", section_path(@section), method: :delete %>

<% if defined?(@section.skills) %>
  <% @section.skills.each do |t| %>
    <h3><%= link_to t.name, skill_path(t.id) if t.id %></h3>
  <% end %>
<% else %>
  <h3>No Skills</h3>
<% end %>